@font-face {
    font-family: 'HankenGrotesk-Bold';
    src: url('static/HankenGrotesk-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'HankenGrotesk-ExtraBold';
    src: url('static/HankenGrotesk-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'HankenGrotesk-Medium';
    src: url('static/HankenGrotesk-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'HankenGrotesk-Variable';
    src: url('static/HankenGrotesk-VariableFont_wght.ttf') format('truetype');
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'HankenGrotesk-Medium', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.result-cards-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    align-items: stretch;
    max-width: 773px;
    width: 100%;
    background-color: white;
    height: 70%;
}

.result-card-1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, hsl(252, 100%, 67%), hsl(231, 100%, 63%));
    border-radius: 20px;
    padding: 40px;
    color: white;
}

.result-card-2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    height: 100%;
}

.score-card-circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: hsla(256, 72%, 46%, 1);
    width: 180px;
    height: 180px;
    margin-bottom: 20px;
}

.result-remark {
    text-align: center;
}

.result-analysis-1,
.result-analysis-2,
.result-analysis-3,
.result-analysis-4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    width: 100%;
}

.result-analysis-1 {
    background-color: hsla(0, 100%, 67%, 0.1);
    color: hsl(0, 100%, 67%);
}

.result-analysis-2 {
    background-color: hsla(39, 100%, 56%, 0.1);
    color: hsl(39, 100%, 56%);
}

.result-analysis-3 {
    background-color: hsla(166, 100%, 37%, 0.1);
    color: hsl(166, 100%, 37%);
}

.result-analysis-4 {
    background-color: hsla(234, 85%, 45%, 0.1);
    color: hsl(234, 85%, 45%);
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#continue-button {
    background: linear-gradient(180deg, hsl(252, 100%, 67%), hsl(231, 100%, 63%));
    color: white;
    border: none;
    padding: 10px 40px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
    width: 100%; /* Full-width button */
}

#continue-button:hover {
    background-color: hsl(252, 100%, 57%);
    transform: translateY(-3px);
}

.result-card-1,
.result-card-2 {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
}

@media (max-width: 768px) {
    .result-cards-container {
        flex-direction: column;
        gap: 30px;
    }

    .result-card-1,
    .result-card-2 {
        width: 100%;
    }
}

.result-card-1 h1 {
    font-size: 4rem;
    font-weight: bold;
}

.result-card-1 p {
    font-size: 1.2rem;
}

.result-analysis{
    width: 100%;
}

.result-analysis div {
    font-size: 1rem;
}

.result-analysis ion-icon {
    font-size: 1.5rem;
    margin-right: 10px;
}

.result-analysis div:hover {
    background-color: rgba(0, 0, 0, 0.05);
    transition: background-color 0.3s ease;
}

h1, h2, h3 {
    font-family: 'HankenGrotesk-Bold', sans-serif;
}

p {
    font-family: 'HankenGrotesk-Medium', sans-serif;
}
